.dashboard{
    margin-left: 25rem;
}
.line{
    width: .3rem;
    height: 7.5rem;
    background-color: aqua;
}
.dashboard-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 2rem;
}
.dashboard-top h2{
    font-weight: bold;
}
.dashboard-top span{
    font-size: 1.8rem;
    color: #777;
}
.dashboard-top i{
    color: blue;
    background-color: lightblue;
    padding: 0.8rem;
    border-radius: .5rem;
}
.dashboard-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(245, 230, 230);
    padding: 2rem 0;
    border-radius: 1.5rem;
}
.dashboard-content-left{
    flex-basis: 50%;
}
.dashboard-content-right{
    flex-basis: 50%;
}
.dashboard-content-text{
    margin-left: 10rem;
}
.dashboard-content-text h4{
    font-size: 2.5rem;
    color: red;
    font-weight: bold;
}
.dashboard-content-text p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}
.dashboard-content-right img{
    width: 50%;
}
.middle-dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.middle-dashboard-left, .middle-dashboard-right{
    flex-basis: 48%;
    background-color: #fff;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,16%);
    border-radius: 1.5rem;
    padding: 3rem;
}
.middle-dashboard-left table tr{
    border-bottom: .1rem solid #eee;
}
.middle-dashboard-left table tr td{
    padding: 1rem 0;
    width: 87%;
    font-size: 1.2rem;
}
.middle-dashboard-left table tr th{
    font-size: 1.4rem;
}
.middle-dashboard-right .d{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle-dashboard-right .d span{
    font-size: 1.4rem;
    font-weight: bold;
}
.middle-dashboard-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle-dashboard-right .days{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
}
.middle-dashboard-right .line-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
}
.middle-dashboard-right .color-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.middle-dashboard-right .color-box .cb1{
    width: 1rem;
    height: 1rem;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
}
.middle-dashboard-right .color-box .cb2{
    width: 1rem;
    height: 1rem;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;
}
.middle-dashboard-right .color-box .cb3{
    width: 1rem;
    height: 1rem;
    background-color: lightblue;
    display: inline-block;
    border-radius: 50%;
}
.middle-dashboard-right .color-box .cb4{
    width: 1rem;
    height: 1rem;
    background-color: skyblue;
    display: inline-block;
    border-radius: 50%;
}
.middle-dashboard-right .color-box .v{
    color: red;
}
.middle-dashboard-right .color-box .g{
    color: blue;
}
.middle-dashboard-right .color-box .l{
    color: lightblue;
}
.middle-dashboard-right .color-box .w{
    color: skyblue;
}




.bottom-dashboard{
    margin-top: 2rem;
}
.bottom-course{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cardbx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
}
.bottom-course span{
    font-size: 1.4rem;
    font-weight: bold;
}
.cardbx .card-one{
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    background-color: #5534A5;
    color: #fff;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,16%);
    border-radius: 1.5rem;
    padding: 3rem;
}
.cardbx .card-two{
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    background-color: #B8B5FF;
    color: #fff;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,16%);
    border-radius: 1.5rem;
    padding: 3rem;
}
.cardbx .card-three{
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    background-color: #FF7171;
    color: #fff;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,16%);
    border-radius: 1.5rem;
    padding: 3rem;
}
.cardbx .card-square{
    display: inline-block;
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,16%);
    border-radius: .5rem;
    padding: 1rem;
    opacity: 0.9;
}