<div class="logout">
    <a>Logout</a>
    <i class="fa fa-unlock"></i>
</div>

<div class="user-info">
    <img src="../../../assets/user.webp" class="w-50">
    <h3>Anna Morison</h3>
    <p>Student</p>
</div>

<div class="box1">
    <span class="a">B2</span>
    <span>English</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="box1">
    <span class="a">C1</span>
    <span>Spanish</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="reminder-box">
    <div class="rem">
        <a>Reminders</a>
        <i class="fa fa-bell"></i>
    </div>
    <div class="box2">
        <i class="fa fa-warning a text-danger"></i>
        <span>Eng - Vocubalary Test<br>
            24 Sep 2019, Friday</span>
    </div>
    <div class="box2">
        <i class="fa fa-envelope-o a text-primary"></i>
        <span>Eng - Send grammer<br>
            29 Sep 2019, Tuesday</span>
    </div>
    <div class="box2">
        <i class="fa fa-envelope-o a text-primary"></i>
        <span>Spanish - Send essay<br>
            5 Oct 2019, Monday</span>
    </div>
</div>
<div class="text-spanish">
    <p>Spanish - Reading Task</p>
</div>

